th{
	text-align: left;
}
td.cms-table{
	border-bottom: 1px solid #CCC;
	
}

span.cms-menu{
	background-color: white;
	padding: 4px 10px 4px 10px;
}

small{
	font-size: 12px;
}

div.imagetab{
	position: relative;
	overflow-y: scroll;
	height: 100%;
	
}