html {
	height: 100%;
	width:	100%;
	/*font-family: Georgia, Helvetica, sans-serif;*/
	/*font-family: Phyllis, 'Lucida Handwriting',cursive;*/
	font-family: 'Shadows Into Light Two', cursive;
	background: #ccc;
}

body {
	width: 930px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;	
}

br{
	clear: both;
}

ul {
	padding: 0px;
	list-style-type: none;
}

ul li {
	display:block;
	list-style-type: none;
}

table{
	width: 100%;
}

img {
	border: 2px solid #fff;
	height: 161px;
	width: 215px;
	float: right;
}

div.img {
	margin: 4px 4px 4px 4px;
}

div.body{
	position: relative;
	height: 100%;
	top: 3.5cm;	
}

div.main-content {
	color: #1947A3;
	text-shadow: 3px 3px 5px #fff;
	-moz-text-shadow:3px 3px 5px #fff;
	padding-left: 30px;
	font-size: 15px;
	width: 670px;
	line-height: 30px;
}

small{
	font-size: 13px;
}

img.thumbnail{
	height: 65px;
	width: 65px;
	border: 2px solid #fff;
	float: left;
}

img.display{
	float:left;
	margin-right: 10px;
}

img#eggs, img#pudding{
	float: right;
}

img#bolognaise{
	float: left;
	margin-right: 4px;
}


div.blurb {
	position: absolute;
	top: -1.9cm;
	width: 256px;
	left: 700px;
	background: #f4f4f2;
	padding: 10px;
	opacity: 0.8;
	border: 2px solid #fff;
}

div.blurb span{
	font-size: 20px;
	color: #000;
	text-shadow: 3px 3px 5px #C8C8C8;
	-moz-text-shadow:3px 3px 5px #C8C8C8;
}

a, a:visited, a:hover{
	text-decoration: none;
	/*text-shadow: 3px 3px 5px #fff;
	-moz-text-shadow:3px 3px 5px #fff;*/
}

td.add {
	height:75px;
	width: 75px;
	/*border-right: 1px solid #000;*/
	background: url("../images/plate.png") center no-repeat;
}

td.vspace{
	height: 30px;
}

div.basket{
	font-size: 12px;
}

.checkout-button{
	margin-top: 15px;
	padding: 5px 5px 5px 5px;
	background: #fff;
	opacity: none;
	font-size: 14px;
	box-shadow: 3px 3px 5px #000;
	-moz-box-shadow:3px 3px 5px #000;
}

div.gardenia {
	position: absolute;
	top: 1.5em;
	height: 300px;
	width: 440px;
	right: -4cm;
	/*background: #fff url('../images/gardenia.png') top left no-repeat;*/
}

span.title-box {
	position: relative;
	/*font-family: Phyllis,'Easy Street EPS',cursive;*/
	/*font-family: 'Ruthie', cursive;*/
	font-size: 6em;
	background-color: #eeece1;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: #fff 6px solid;
	box-shadow: 2px 2px 2px 2px #c0c0c0;
	-moz-box-shadow: 2px 2px 2px 2px #c0c0c0;
	top: 50px;
	left: 1cm;
}


span.title, span.box-header, li a, a{
	/*color:  #524735;*/
	color: #000;
}

span.title{
	width: 700px;
	word-wrap: none;
	text-shadow: 3px 3px 5px #000;
	-moz-text-shadow:3px 3px 5px #000;
}

li a{
	text-shadow: 3px 3px 5px #f1e9d2, 1px 1px 3px #ccc;
	-moz-text-shadow:3px 3px 5px #f1e9d2, 1px 1px 3px #ccc;;
}

div.bg-image{
	position: absolute;
	background: #fff url('../images/mumma-bw.png') top center no-repeat;
	opacity: 0.4;
	z-index: -2;
	width: 910px;
	height: 1190px;
	border: 2px #fff solid;
}

div.top-nav {
	position: relative;
	top: 110px;
}

div.top-nav ul li{
	position: relative;
	display: inline-block;
	list-style-type: none;
	padding-right: 15px;
	padding-left: 15px;
	word-wrap: auto;
}

.top-nav li a {
	border: solid 2px #CCC;
	padding: 15px;
	font-size: 20px;
	word-wrap: auto;
	/*background: #f6f4ea;*/
	background: #f4f4f2;
	opacity: 0.8;
	outline: 1px 1px #fff;
}

span.signature {
	font-family: 'Ruthie', cursive;
	font-size: 1cm;
}

input[type="text"], input[type="password"]{
	padding: 5px;
	line-height: 30px;
	font-size: 16px;
	background:#f8f8f7;
}

div.login{
	padding-top: 30px;
	padding-left: 30px;
}

div.footer{
	position: relative;
	width: 520px;
}

div.footer span {
	color: #8c8c8c;
	font-size: 20px;
	padding: 5px;
	
}

.round {
	border-radius: 15px;
	-moz-border-radius: 15px;
}

errors{
	color: red;
}