<form action="search" method="post">
	<input type="text" class="search round" name="like" />
	<input type="submit" value="search" />
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
</form>