<h1>Welcome to Mumma's Kitchen</h1>

<p>
	<div class="img"><img id="eggs" src="images/eggs.jpg" alt="Eggs"></img></div>My products are derived from local sources here in Timor Leste.
	They are then prepared in my kitchen and stored in my freezer. What you have for dinner is most likely what we are having for dinner. <br/>
	
	<div class="img"><img id="bolognaise" src="images/pot bolognaise.jpg" alt="bolognaise"></img></div>Click on the <%= link_to "From the Freezer", "freezer" %> tab to see what I have stashed! Remember to request a thaw if you need it. I'll have it thawed by the time you pick it up. 
	<br/>
	I don't use MSG. Where there might be a cause for an allergic response, I will indicate it on the description in the menu.
	Some of the vegetarian foods may have been prepared with stock derived from animal products. Where this is the case, I will also indicate it on the description in the menu and so on...
	<br/>
	If you are unsure of anything, or would like to ask me a question don't hesitate to <%=link_to "contact me", "contact" %><br /><br />

	<div class="img"><img src="images/pudding.jpg" id="pudding" alt="pudding"></img></div>I also have delicious desserts ready for your convenience.
	Let me treat you.<br /> It is the least I can do. <br/>
	Regards, <br/>
	<span class="signature">Mumma</span>
</p>


