<%if signed_in? %>
<%=render 'shared/admin/nav_header'%>
<h1>Add Photo</h1>
	<%=form_for @photo, :html=>{:multipart=>true}, :url=>{:controller=>:photos, :action=>:add} do |f|%>
		<%=render 'form'%>
	<%end%>
<%end%>

