<div class="top-nav">
	<ul>
		<li><a href="menu" class="round">Today's Menu</a></li>
		<li><a href="#" class="round">From the Freezer</a></li>
		<li><a href="contact" class="round">Contact Mumma</a></li>
	</ul>
</div>