<div class="top-nav">
	<ul>
		<li><%=link_to "Home", "/", :class=>"round" %></li>
		<li><%=link_to "On the Menu", "/menu/f", :class=>"round" %></li>
		<li><%=link_to "In the Freezer", "/menu/t", :class=>"round" %></li>
		<li><%=link_to "Contact Mumma", "/contact", :class=>"round" %></li>
	</ul>
</div>